/*3*/
body{
    -webkit-perspective: 800px;
}

wrap{
transition: -webkit-transform 1s ease-in;
}

.wrap div{
    position: absolute;
}

.side-a {
    z-index: 100;
}

.wrap:hover{
    -webkit-transform: rotateX(45deg);
}
img{
    width: 20%;
}