body{
    font: 1.1em/1.5 sans-serif;
}
.main{
    width: 85%;
    margin: auto;
}
h1{
    font-size: 3em;
}
p{
    margin-bottom: 1.5em;
}
/* ===========================================================
    Media Queries
   ============================================================*/
@media screen and (max-width: 768px) {
    body {
        background: #FF6347;
        color: #FFF;
    }

}

@media screen and (max-width: 480px){
    body{
        background-color: #4682B4;
    }
}
@media screen and(min-width: 1000px){
    .main{
width: 700px;
    }
}