.a{
    color: blue;
    background-color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: big
}
.b{

}
.c{
    color: red;
    box-shadow: 100px;
    background-color: yellow;
    font-size: 50px;
    font-family: fantasy;
}
.d{
    background-color: aqua;
    font-size: 40px;
}
.e{
    background-color: blueviolet;
    color: azure;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
.f{
    background-color: blanchedalmond;
    
}
.g{
    font-size: 80px;
}
.h{
    font-size: 100px;
}
.i{
    font-size: 50px;
color: chocolate;
}
.j{

}